<!-- /templates/customers/register.liquid -->

<div class="page-width page-container">

  <div class="customer__account-form text-center">

    <div class="form-vertical">
      <h1>ASI Program<sup class="inline-block bg-gray-750 rounded-full w-4 h-4 text-center text-xs text-gray-400"><a href="/pages/asi">?</a></sup></h1>
      <br>
      {% render "customer-fields", form_id: "6Rta54" %}
    </div>

  </div>

</div>
