
{{ page.content }}
<div class="lg:w-7/12 md:w-9/12 sm:w-11/12 m-auto">
  <div class="grid gap-4 lg:grid-cols-6 md:grid-cols-6 sm:grid-cols-1">
    <div class="lg:col-span-2 md:col-span-2 sm:col-span-6 pt-16 px-6 sm:mx-5">
      <ul>
        <li class="text-sm leading-8"><a class="normallink" href="#chart_1">What is an affiliate?</a></li>
        <li class="text-sm leading-8"><a class="normallink" href="#chart_2">Why Choose PITAKA?</a></li>
        <li class="text-sm leading-8"><a class="normallink" href="#chart_3">Contact</a></li>
        <li class="text-sm leading-8"><a class="normallink" href="#chart_4">FAQ</a></li>
        <li class="text-sm leading-8"><a class="normallink" href="#chart_5">Banner Samples</a></li>
      </ul>
      <a href="http://www.shareasale.com/shareasale.cfm?merchantID=68966">
        <img src="//cdn.shopify.com/s/files/1/1036/4113/files/shareasale_large.jpg?v=1482832234" alt="Shareasale" class="mt-6" />
      </a>
    </div>

    <div class="lg:col-span-4 md:col-span-4 sm:col-span-4 py-5 px-6 sm:mx-5">
      <h1 class="text-3xl py-8">Become a PITAKA Affiliate</h1>
      <p class="py-4 text-base">Join our affiliate program in Shareasale and earn a commission when you recommend PITAKA products.</p>
      <div class="btn-container"><a href="https://www.shareasale.com/shareasale.cfm?merchantID=68966" target="_blank" rel="noopener noreferrer"><span class="pitaka-btn">Register Now</span></a></div>
      <h4 class="py-4 text-xl"><a name="chart_1"></a>What is ShareAsale?</h4>
      <p class="py-4 text-base">ShareAsale is an affiliate marketing network that has been around for over 20 years. They provide thousands of sites with affiliate programs, allowing you to make money by recommending their products online.</p>
      <p class="py-4 text-base">Some of our favorite tech blogs, such as MacRumors, AppleInsider, and Digital Trends, have already joined our affiliate program.</p>
      <h4 class="py-4 text-xl"><a name="chart_2"></a>Why Choose PITAKA?</h4>
      <div class="bg-gray-800 px-3 py-3 text-center text-sm">

        <div class="grid grid-cols-2 md:grid-cols-3 sm:grid-cols-2 w-full text-center ">
          <div class="my-2 p-4 mx-2 bg-gray-750">
            <h5>Up to 40% Commission</h5>
            <p class="py-4 text-xs">Our commission rates are flexible and can go up to 40%.</p>
          </div>
          <div class="my-2 p-4 mx-2 bg-gray-750">
            <h5>Extra-long Cookie Life</h5>
            <p class="py-4 text-xs">Get commission on referrals made within 90 days.</p>
          </div>
          <div class="my-2 p-4 mx-2 bg-gray-750">
            <h5>Be the First to Test Our Products</h5>
            <p class="py-4 text-xs">Participate in research and development of new PITAKA products, and get the chance to test drive new releases.</p>
          </div>

          <div class="my-2 p-4 mx-2 bg-gray-750">
            <h5>Exclusive PITAKA Discounts</h5>
            <p class="py-4 text-xs">Offer exclusive PITAKA discounts to your audience.</p>
          </div>
          <div class="my-2 p-4 mx-2 bg-gray-750">
            <h5>Additional Commission for High Sales</h5>
            <p class="py-4 text-xs">Get additional commission after reaching specific sales goals.</p>
          </div>
          <div class="my-2 p-4 mx-2 bg-gray-750">
            <h5>Banners and Tracking Links</h5>
            <p class="py-4 text-xs">Use our PITAKA banners to promote on your channel along with tracking links.</p>
          </div>
        </div>

      </div>
      <p class="py-4 text-base">Interested in Becoming an Affiliate?</p>
      <p class="py-4 text-base">Join our program today and earn by referring customers to PITAKA products.</p>
      <div class="btn-container"><a href="https://www.shareasale.com/shareasale.cfm?merchantID=68966" target="_blank" rel="noopener noreferrer"><span class="pitaka-btn">Start Now</span></a></div>
      <h4 class="py-4 text-xl"><a name="chart_4"></a>Affiliate FAQ</h4>
      <ul class="list-disc list-inside">
        <li><strong>What is the cookie life?</strong><br />
          <p class="py-4 text-base">The cookie life is 90 days. That means that if someone clicks through to PITAKA from your website, the commission on any sales for the next 90 days from that customer will be paid out to you.</p>
        </li>
        <li><strong>What products can I refer through the affiliate program?</strong><br />
          <p class="py-4 text-base">Our affiliate program allows you to earn commissions for referring new customers who purchase any of our products. For more information and to sign up, click here.</p>
        </li>
        <li><strong>Is this limited to particular countries?</strong><br />
          <p class="py-4 text-base">No, we are happy to accept affiliates from any country.</p>
        </li>
        <li><strong>Does it cost anything to become an affiliate?</strong><br />
          <p class="py-4 text-base">No. It’s free to join, and there are no monthly fees. There is no limit on how much you can earn from sales.</p>
        </li>
        <li><strong>How many products can I promote?</strong><br />
          <p class="py-4 text-base">There is no limit to the number of products you can promote. We will inform you every time we launch a new product so that you can always keep updated.</p>
        </li>
        <li><strong>How do I join the affiliate program?</strong><br />
          <p class="py-4 text-base">Visit the ShareASale <a href="https://www.shareasale.com/shareasale.cfm?merchantID=68966" target="_blank" rel="noopener noreferrer">PITAKA page</a> and select ‘Join Now.’ From here, you can register for an account or sign in to an existing account. Once your application is approved, you can access banners and text links to add to your blog or YouTube channel.</p>
        </li>
        <li><strong>How much can I earn from each referral?</strong><br />
          <p class="py-4 text-base">We have a tiered commission system depending on the product that you are referring. See the table below for more information:</p>
        </li>
      </ul>
      <h4 class="py-4 text-xl"><a name="chart_5"></a>Banner Samples</h4>
      <table class="min-w-full table-auto">
        <tbody class="bg-gray-200">
          <tr>
            <td colspan="6"><img class="img-responsive" src="//cdn.shopify.com/s/files/1/1036/4113/t/38/assets/h-lx-eg.gif?v=9901081797036897350" alt="" /></td>
          </tr>
          <tr>
            <td width="160"><img class="img-responsive" src="//cdn.shopify.com/s/files/1/1036/4113/t/38/assets/v-lx-eg.jpg?v=4373129979610198263" alt="" /></td>
            <td colspan="5" width="966">
              <table>
                <tbody>
                  <tr>
                    <td><img src="//cdn.shopify.com/s/files/1/1036/4113/t/38/assets/square-eg.gif?v=2705428991287910588" alt="" /></td>
                    <td><img class="img-responsive" src="//cdn.shopify.com/s/files/1/1036/4113/t/38/assets/square-lx-eg.gif?v=6041250694229292345" alt="" /></td>
                  </tr>
                  <tr>
                    <td rowspan="3"><img src="//cdn.shopify.com/s/files/1/1036/4113/t/38/assets/v-l-eg.gif?v=9672292522424582932" alt="" /></td>
                    <td>
                      <div><img src="//cdn.shopify.com/s/files/1/1036/4113/t/38/assets/l-sm-eg.gif?v=9441054437824199496" alt="" /></div>
                      <div></div>
                      <div><img src="//cdn.shopify.com/s/files/1/1036/4113/t/38/assets/h-l-static-eg.jpg?v=1266195970776957665" alt="" /></div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
      <h3 class="my-6 py-4 text-2xl"><a name="chart_3"></a>Contact</h3>
      <ul>
        <li>Affiliate Manager: Claire Gan</li>
        <li>Email: affiliate@ipitaka.com</li>
        <li><a href="https://www.shareasale.com/shareasale.cfm?merchantID=68966" target="_blank" rel="noopener noreferrer">Join us on ShareASale Now!</a></li>
        <li><a href="https://www.ipitaka.com/pages/terms-and-conditions-for-affiliates" target="_blank" rel="noopener noreferrer">Please read our terms &amp; conditions for affiliates</a>.</li>
      </ul>
    </div>
  </div>
</div>