<div class="lg:w-7/12 md:w-9/12 sm:w-11/12 m-auto">
  <div class="breadcrumb flex mx-auto w-full my-6 px-6 flex items-center">
    <a class="navLink block text-sm 2xl:text-base text-gray-400 hover:text-white leading-tight mr-4 pr-8 bg-right bg-no-repeat" href="/">Home</a>
    <a class="navLink block text-sm 2xl:text-base text-gray-400 hover:text-white leading-tight mr-4 pr-8 bg-right bg-no-repeat" href="/pages/inspiring-culture">Inspiring Culture</a>
  </div>
  <h1 class="px-6 py-6">The Tech Behind the Products</h1>
  <h3 class="px-6 py-6">1. Fusion Weaving™ Series</h3>
  <div class="px-6 pb-6">
    <p>Boundaries help define comfort zones but they could also become fetters. We’re still finding our limits while embracing every possibility. We look for inspiration from daily life. We like trying new things to see when the next great idea emerges. What do music and technology have in common? How can we use music in our designs? This time, we brought the classic aramid fiber case design to the next level.</p>
  </div>
  <div class="px-6 py-6">
    <iframe width="1182" height="739" src="https://www.youtube.com/embed/-XGVCY-t_qk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
  </div>
  <h3 class="px-6 py-6">2. New MagEZ Case Pro for iPhone 13 Series</h3>
  <div class="px-6 pb-6">
    <p class="py-6"> How to merge two photos into one? Easy. There are tons of tools out there.</p>
    {{ 'pitaka-family.gif' | asset_url | img_tag: "PITAKA" }}
    <p class="py-6">How to merge two materials in one item? Check out our New MagEZ Case Pro for iPhone 13 series. Through our new technique, 3D Injection Molding Labeling, we managed to blend TPU with aramid fiber in the same mold. As a result, the sides of the case are covered by two materials that provide greater protection and better grip.</p>
    {{ 'pitaka-slim-case.jpg' | asset_url | img_tag: "PITAKA" }}
    <p class="py-6">Will you be interested in the tech behind the things you enjoy?</p>
  </div>
  <div class="py-6 px-6 grid sm:grid-cols-1">
    <div class="grid lg:grid-cols-2 md:grid-cols-1 sm:grid-cols-1">
      <div class="text-left py-6"><a href="/pages/minimalism-less-but-better">Minimalism: Less, but Better >></a></div>
      <div class="text-left py-6 text-right">
        <a href="/pages/thorough-down-to-the-last-detail">"Thorough Down to the Last Detail" >></a>
      </div>
    </div>
  </div>

  <div class="powr-comments" id="0c825d37_1637823605"></div><script src="https://www.powr.io/powr.js?platform=shopify"></script>
</div>