<div class="lg:w-7/12 md:w-9/12 sm:w-11/12 m-auto">
  <div class="breadcrumb flex mx-auto w-full my-6 px-6 flex items-center">
    <a class="navLink block text-sm 2xl:text-base text-gray-400 hover:text-white leading-tight mr-4 pr-8 bg-right bg-no-repeat" href="/">Home</a>
    <a class="navLink block text-sm 2xl:text-base text-gray-400 hover:text-white leading-tight mr-4 pr-8 bg-right bg-no-repeat" href="/pages/inspiring-culture">Inspiring Culture</a>
  </div>
  <h1 class="py-6 px-6">Define Fashion through Designs</h1>

  <div class="py-6 px-6">
    <p class="py-3">Fashion is a culture about constructing one’s identity. It’s a general form of self expression. That said, it’s still a challenge to define fashion in plain words. </p>
    <p class="py-3">In my opinion, fashion is a biography written by ourselves, marked with unique personality and style. Fashion is an expression of beauty, of emotions and attitudes. Fashion is a form of art that decorates our life.</p>
    <p class="py-3">What I love about Apple products is that they are not only useful but aesthetically pleasing. Apple uses designs to define their own fashion and to offer customers style. The AirPods Max is enormous in size, but still it draws attention on the streets. When we designed the Air Pal Shells for AirPods Max, we tried to add the PITAKA style while maintaining the beauty of the original item. </p>

    <div class="grid lg:grid-cols-2 md:grid-cols-1 sm:grid-cols-1">
      <div class="text-left py-6"> {{ 'for_shell_max1.jpg' | asset_url | img_tag: "PITAKA" }}</div>
      <div class="text-left py-6"> {{ 'for_shell_max2.jpg' | asset_url | img_tag: "PITAKA" }}</div>
    </div>
    <p class="py-6">We put a lot of attention to material use, appearance, and user experience, so you can appreciate those beautiful curves and lines in our design, be wowed by the details as you explore it, and match it with your own fashion style.</p>
    <div class="grid lg:grid-cols-2 md:grid-cols-1 sm:grid-cols-1">
      <div class="text-left py-6"> {{ 'for_shell_max5.jpg' | asset_url | img_tag: "PITAKA" }}</div>
      <div class="text-left py-6"> {{ 'for_shell_max6.jpg' | asset_url | img_tag: "PITAKA" }}</div>
    </div>

    <p class="py-6">What is fashion in your own opinion? Welcome to share your thoughts with us.</p>
  </div>
  <div class="py-6 px-6 grid sm:grid-cols-1">
    <div class="grid lg:grid-cols-2 md:grid-cols-1 sm:grid-cols-1">
      <div class="text-left py-6">{% comment %}<a href="/pages/pitaka-ecosystem">PITAKA Ecosystem >></a>{% endcomment %}</div>
      <div class="text-left py-6 text-right">
        
      </div>
    </div>
  </div>
  <div class="py-6 px-6 grid sm:grid-cols-1">
        <div class="grid lg:grid-cols-2 md:grid-cols-1 sm:grid-cols-1">
          <div class="text-left py-6">
            <a href="/pages/the-pursuit-of-perfect">The Pursuit of Perfect >></a>
          </div>
          <div class="text-left py-6 text-right">
            <a href="/pages/are-you-obsessed-with-specific-sounds">Are You Obsessed with Specific Sounds? >></a>
          </div>
        </div>
      </div>
  <div class="powr-comments" id="107c8ec2_1638359378"></div><script src="https://www.powr.io/powr.js?platform=shopify"></script>
</div>