<div class="lg:w-7/12 md:w-9/12 sm:w-11/12 m-auto">
    <!-- /templates/page.liquid -->
    <div class="breadcrumb flex mx-auto w-full my-6 px-6 flex items-center">
        <a class="navLink block text-sm 2xl:text-base text-gray-400 hover:text-white leading-tight mr-4 pr-8 bg-right bg-no-repeat" href="/">Home</a>
        <a class="navLink block text-sm 2xl:text-base text-gray-400 hover:text-white leading-tight mr-4 pr-8 bg-right bg-no-repeat" href="/pages/inspiring-culture">Inspiring Culture</a>
      </div>

  <h1 class="py-6 px-6">Are You Obsessed with Specific Sounds?</h1>
        <p class="py-3 px-6">Some people may find certain sounds annoying while some could really enjoy them. The click of a clock, the hitting from a keyboard, the popping sound when we pull the cork on a bottle of wine… </p>
        <p class="py-3 px-6">It’s not always clear why we are obsessed with specific sounds. It could be that a particular sound reminds you of something nice.</p>
        <div class="py-6 px-6 grid"><iframe width="1280" height="720" src="https://www.youtube.com/embed/Qiy6XnkUV3o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
        <p class="py-3 px-6">Does any of these sounds from using our products inspire?</p>
        
      <div class="py-6 px-6 grid sm:grid-cols-1">
        <div class="grid lg:grid-cols-2 md:grid-cols-1 sm:grid-cols-1">
          <div class="text-left py-6">
            <a href="/pages/define-fashion-through-designs">Define Fashion through Designs >></a>
          </div>
          <div class="text-left py-6 text-right">
          </div>
        </div>
      </div>
    <div class="powr-comments" id="dc5738c0_1637823928"></div><script src="https://www.powr.io/powr.js?platform=shopify"></script>
</div>