<div class="lg:w-9/12 md:w-10/12 sm:w-11/12 m-auto">
    <div class="grid gap-4 grid-cols-2 md:grid-cols-2 sm:grid-cols-1">
      <div class="py-5 sm:mx-5 sm:m-auto">
        <iframe src="https://www.google.com/maps/d/embed?mid=1H-zw6yroNgufnA3Q5eDyZSGG-bI" width="100%" height="360"></iframe>
      </div>
      <div class="py-6 lg:px-4 sm:mx-5 sm:m-auto sm:p-6 contact-main-txt">
        <h1 class="py-5 pt-section-title-large">Contact Us</h1>
        <p class="text-base">For general supports, please send email to <a href="mailto:support@ipitaka.com">support@ipitaka.com</a>.</p>
        <p class="text-base my-3">For business cooperation, please send email to <a href="mailto:info@ipitaka.com">info@ipitaka.com</a>.</p>
        <p class="text-base my-3">For customer service, please send email to <a href="mailto:aftersales@ipitaka.com">aftersales@ipitaka.com</a>.</p>
        <p class="text-base my-3"> You can contact our US office at <a href="tel:(877) 886 6888">(877) 886 6888</a>.</p>
        <h3 class="text-2xl my-6 leading-8">Head Office:</h3>
        <p class="text-base my-3">United States: <u>23121 Antonio Pkwy Suite 135, Rancho Santa Margarita CA</u></p>
        <p class="text-base my-3">HongKong: <u>Unit C 9/F Winning HSE No.72~76 Wing Lok Str. Sheung Wan</u></p>
        <p class="text-base my-3">ShenZhen: <u>12ABCDEFGH, Block C, Central Avenue, Xixiang Street, Baoan District, Shenzhen</u></p>
      </div>
    </div>
  </div>