<div class="lg:w-7/12 md:w-9/12 sm:w-11/12 m-auto px-6">

  <div class="bug-report my-8">
    <script src="https://www.powr.io/powr.js?platform=shopify"></script>
    <div class="powr-form-builder" id="18c9b586_1572052658"></div>
  </div>
  <a href="#" class="modal-open">Compare</a>
  <!--Modal-->
  <div class="modal opacity-0 pointer-events-none fixed w-full h-full top-0 left-0 flex items-center justify-center">
    <div class="modal-overlay absolute w-full h-full"></div>
    
    <div class="modal-container w-11/12 md:max-w-md mx-auto rounded shadow-lg z-50 overflow-y-auto" style="background-color:#212327">
      
      <div class="modal-close absolute top-0 right-0 cursor-pointer flex flex-col items-center mt-4 mr-4 text-white text-sm z-50">
        <svg class="fill-current text-white" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
          <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"></path>
        </svg>
        <span class="text-sm">(Esc)</span>
      </div>

      <div class="modal-content py-4 text-center px-6">
        <div class="flex justify-between items-center pb-3 float-right">
          <div class="modal-close cursor-pointer z-50">
            <svg class="fill-current text-white" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
              <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"></path>
            </svg>
          </div>
        </div>

        <p class="text-xl text-white text-center font-bold py-4 my-4">Comparing with<br />Apple MagSafe Battery Pack</p>
        <table class="w-full text-sm text-center text-gray-400">
            <tr>
                <td class="px-6 py-2">
                    <p>MagEZ Battery Pack</p>
                </td>
                <td class="px-6 py-2">
                    <p>MagSafe Battery Pack</p>
                </td>
            </tr>
            <tr>
                <td class="px-6 py-1">
                    <img class="mx-auto" src="https://cdn.shopify.com/s/files/1/1036/4113/t/58/assets/wireless_charge_with_pitaka.png" alt="Wireless Charge with PITAKA" />
                </td>
                <td class="px-6 py-1">
                    <img class="mx-auto" src="https://cdn.shopify.com/s/files/1/1036/4113/t/58/assets/wireless_charge_with_apple.png" alt="Wireless Charge with Apple" />
                </td>
            </tr>
            <tr>
                <td class="px-6 py-1">
                    <img class="mx-auto" src="https://cdn.shopify.com/s/files/1/1036/4113/t/58/assets/wireless_charge_with_pitaka_battery.png" alt="Wireless Charge with PITAKA Battery" />
                </td>
                <td class="px-6 py-1">
                    <img class="mx-auto" src="https://cdn.shopify.com/s/files/1/1036/4113/t/58/assets/wireless_charge_with_apple_battery.png" alt="Wireless Charge with Apple Battery" />
                </td>
            </tr>
        </table>

        <table class="w-9/12 mx-auto text-xs text-center text-white my-4">
            <tr>
                <td class="px-6 py-1">
                    95%
                </td>
                <td class="px-6 py-1 text-gray-400">
                    iPhone 12 mini
                </td>
                <td class="px-6 py-1">
                    70%
                </td>
            </tr>
            <tr>
                <td class="px-6 py-1">
                    75%
                </td>
                <td class="px-6 py-1 text-gray-400">
                    iPhone 12
                </td>
                <td class="px-6 py-1">
                    60%
                </td>
            </tr>
            <tr class="dark:bg-gray-800">
                <td class="px-6 py-1">
                    80%
                </td>
                <td class="px-6 py-1 text-gray-400">
                    iPhone 12 Pro
                </td>
                <td class="px-6 py-1">
                    60%
                </td>
            </tr>
            <tr class="dark:bg-gray-800">
                <td class="px-6 py-1">
                    55%
                </td>
                <td class="px-6 py-1 text-gray-400">
                    iPhone 12 Pro Max
                </td>
                <td class="px-6 py-1">
                    40%
                </td>
            </tr>
            <tr>
                <td class="px-6 py-1">
                    80%
                </td>
                <td class="px-6 py-1 text-gray-400">
                    iPhone 13 mini
                </td>
                <td class="px-6 py-1">
                    70%
                </td>
            </tr>
            <tr>
                <td class="px-6 py-1">
                    70%
                </td>
                <td class="px-6 py-1 text-gray-400">
                    iPhone 13
                </td>
                <td class="px-6 py-1">
                    60%
                </td>
            </tr>
            <tr class="dark:bg-gray-800">
                <td class="px-6 py-1">
                    70%
                </td>
                <td class="px-6 py-1 text-gray-400">
                    iPhone 13 Pro
                </td>
                <td class="px-6 py-1">
                    60%
                </td>
            </tr>
            <tr class="dark:bg-gray-800">
                <td class="px-6 py-1">
                    50%
                </td>
                <td class="px-6 py-1 text-gray-400">
                    iPhone 13 Pro Max
                </td>
                <td class="px-6 py-1">
                    40%
                </td>
            </tr>
        </table>
        <p class="py-6 text-sm text-white">*All data were obtained in a controlled test environment. Tested with fully charged power banks. Charging time is subject to humidity, temperature, device age, etc.</p>

      </div>
    </div>
  </div>

  <script>
    var openmodal = document.querySelectorAll('.modal-open')
    for (var i = 0; i < openmodal.length; i++) {
      openmodal[i].addEventListener('click', function(event){
    	event.preventDefault()
    	toggleModal()
      })
    }
    const overlay = document.querySelector('.modal-overlay')
    overlay.addEventListener('click', toggleModal)

    var closemodal = document.querySelectorAll('.modal-close')
    for (var i = 0; i < closemodal.length; i++) {
      closemodal[i].addEventListener('click', toggleModal)
    }
    document.onkeydown = function(evt) {
      evt = evt || window.event
      var isEscape = false
      if ("key" in evt) {
    	isEscape = (evt.key === "Escape" || evt.key === "Esc")
      } else {
    	isEscape = (evt.keyCode === 27)
      }
      if (isEscape && document.body.classList.contains('modal-active')) {
    	toggleModal()
      }
    };
    function toggleModal () {
      const body = document.querySelector('body')
      const modal = document.querySelector('.modal')
      modal.classList.toggle('opacity-0')
      modal.classList.toggle('pointer-events-none')
      body.classList.toggle('modal-active')
    }
  </script>
  <style>
    .modal {
      transition: opacity 0.25s ease;
    }
    body.modal-active {
      overflow-x: hidden;
      overflow-y: visible !important;
    }
  </style>
</div>