<div class="container-fluid">
  <div class="row">
    <div class="vacuum-forming-div">
      <div class="vacuum-forming-fs">
        {{ 'v-1.jpg' | asset_url | img_tag: '', 'img-responsive' }}
        <div class="vacuum-forming-fs-sum">
          <h1>3D Grip - Watch out! It is so pleasurable and addicting!</h1>
          <ul>
            <li>Vacuum Forming</li>
            <li>3D Granular Design</li>
            <li class="last">Pleasant Touch</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="vacuum-forming-div">
      <div class="vacuum-forming-sc">
        {{ 'v-2.jpg' | asset_url | img_tag: '', 'img-responsive' }}
        <div class="vacuum-forming-sc-sum">
          <h2>Vacuum Forming - A Technology That Retains the Raw Material's Sexy Texture</h2>
          <p>
            Traditionally, the forming process ruins the natural touch of
            <a href="/pages/material" title="Raw Material">raw material</a>
            because of the high temperature and pressure involved during processing. In contrast, our proprietary vacuum
            forming technology, forms the product precisely and prevents damage. It ensures that the original
            characteristics of the material remain with the product and gives PITAKA cases a special touch will make
            your phone pleasurable to hold.
          </p>
        </div>
      </div>
    </div>

    <div class="vacuum-forming-div">
      <div class="vacuum-forming-fo">
        {{ 'aramid-3d-silky-touch.jpg' | asset_url | img_tag: '', 'img-responsive' }}
        <div class="vacuum-forming-fo-sum">
          <h2>3D Granular Design</h2>
          <p>Because you use your phone all day long, a good phone case should be comfortable to hold. This is one of
            our key our design principles. Thanks to the vacuum forming technology and our special coating, we have now
            differentiated our products from the rest of the market by giving them a granular, 3D Grip. Not only will
            your phone not slip out of your hands, holding your phone will actually be a pleasurable experience.</p>
        </div>
      </div>
    </div>

    <div class="vacuum-forming-div">
      <div class="vacuum-forming-fv">
        {{ 'v-5.jpg' | asset_url | img_tag: '', 'img-responsive' }}
        <div class="vacuum-forming-fv-sum">
          <span class="vacuum-forming-fv-sum-span">
            <h3>A truly unique touch</h3>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>