{% assign wClass = 'w-full md:w-11/12 lg:w-10/12 max-w-screen-xl mx-auto' %} {%
assign wClass_8 = 'w-full sm:w-11/12 lg:w-10/12 xl:w-8/12 max-w-screen-xl
mx-auto' %} {% assign wClass_6 = 'w-full md:w-10/12 lg:w-8/12 xl:w-6/12
max-w-screen-xl mx-auto' %} {% assign pdClass = 'px-3 sm:px-6 md:px-0 py-16
sm:py-20 lg:py-28' %} {% assign pdClass_t = 'px-3 sm:px-6 md:px-0 pt-12 sm:pt-16
lg:pt-20' %} {% assign titleBoxClass= 'mx-auto mb-12 w-11/12 sm:w-5/6 md:w-2/3
xl:w-2/5' %} {% assign titleSize = 'text-2xl md:text-3xl font-bold' %} {% assign
descSize = 'text-sm sm:text-base text-gray-400' %} {% assign titleDecoMy =
'block mt-4 mb-12' %} {% assign absoluteContentBoxClass = 'w-full laptop:w-10/12
max-w-screen-xl mx-auto px-6 lg:px-0 h-full absolute transform left-1/2
-translate-x-1/2 top-0' %} {% assign absoluteContentClass = 'text-center
lg:text-left absolute transform w-4/5 lg:w-1/2 xl:w-3/8 top-20 left-1/2
-translate-x-1/2 max-w-md lg:translate-x-0 lg:left-0 lg:top-1/2
lg:-translate-y-1/2' %}

<div class="bg-gray-850">
    <div
        class="w-full sm:w-11/12 lg:w-10/12 xl:w-5/12 max-w-screen-xl
    mx-auto {{ pdClass }} "
    >
    <div
    class="mx-auto text-left text-white px-auto px-4 py-8"
>
    <h3 class="text-xl md:text-2xl">Affiliate FAQ</h3>
    <p class="block mt-4"></p>
    <h3 class="text-md md:text-xl">What is the cookie life?</h3>
    <p class="text-sm sm:text-base">
        The cookie life is 90 days. That means that if someone
        clicks through to PITAKA from your website, the commission
        on any sales for the next 90 days from that customer will be
        paid out to you.
    </p>
    <p class="block mt-4"></p>
    <h3 class="text-md md:text-xl">What products can I refer through the affiliate program?</h3>
    <p class="text-sm sm:text-base">
        Our affiliate program allows you to earn commissions for referring new customers who purchase any of our products. For more information and to sign up, click here.
    </p>
    <p class="block mt-4"></p>
    <h3 class="text-md md:text-xl">
        Is this limited to particular countries?
    </h3>
    <p class="text-sm sm:text-base">
        No, we are happy to accept affiliates from any country.
    </p>
    <p class="block mt-4"></p>
    <h3 class="text-md md:text-xl">
        Does it cost anything to become an affiliate?
    </h3>
    <p class="text-sm sm:text-base">
        No. It’s free to join, and there are no monthly fees. There is no limit on how much you can earn from sales.
    </p>
    <p class="block mt-4"></p>
    <h3 class="text-md md:text-xl">
        How many products can I promote?
    </h3>
    <p class="text-sm sm:text-base">
        There is no limit to the number of products you can promote. We will inform you every time we launch a new product so that you can always keep updated.
    </p>
    <p class="block mt-4"></p>
    <h3 class="text-md md:text-xl">
        How do I join the affiliate program?
    </h3>
    <p class="text-sm sm:text-base">
        Visit the ShareASale PITAKA page and select ‘Join Now.’ From here, you can register for an account or sign in to an existing account. Once your application is approved, you can access banners and text links to add to your blog or YouTube channel.
    </p>
    <p class="block mt-4"></p>
    <h3 class="text-md md:text-xl">
        How much can I earn from each referral?
    </h3>
    <p class="text-sm sm:text-base">
        We have a tiered commission system depending on the product that you are referring. Learn more details after you sign up.
    </p>
</div>
    </div>
</div>

